
    <!-- <div class="row card-row"> -->
      <% @sports.each do |sport| %>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <p>Sport: <%= sport.sportname %> (<%= sport.pointsperaction %>) </p>
        </div>
      <% end %>
    <!-- </div> -->

