<% @sports.each do |sport| %>
    <div class="card-product">

        <div class="card-product-infos">
            <h2><%= sport.sportname %> // Punkte: <%= sport.pointsperaction %> </h2>
        </div>

    </div>

<% end %>
